.outerDiv {
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.formDiv {
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
